body {
    /* vh means view heights */
    min-height: 100vh;
    display: flex;
    /* horizontally centers */
    justify-content: center;
    /* vertically centers */
    align-items: center;
}

.colorBtn {
    /* first number is vertical, second number is horizontal */
    padding: 0.25rem 0.5rem;
    border: 3px solid #fefefe;
    border-radius: 7px;
    /* font color for the button */
    color: #fefefe;
    background: rgba(0,0,0,0.6);
    font-size: 1.5rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
}

.colorBtn:hover {
    background: rgb(0,0,0);
}