body {
    background: lightblue;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .food_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .food_list {
    background: whitesmoke;
    width: 20%;
    border: 1px solid gray;
    padding: 10px;
    margin: 5px;
  }
  
  
  .food_list h2 {
    font-weight: bold;
    color: rgb(34, 72, 129)
  }
  
  .food_list img {
    width: 100%;
    height: auto;
  }
  
  .ingredients {
    font-size: .5em;
    text-transform: lowercase;
  }